/** @format */

.selectGroupButton {
  color: #2196f3;
  display: flex;
  justify-content: center;
}

.createGroup {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 568px) {
  .Si {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
