/** @format */
.hello {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.GroupPage__QuestionList {
  position: sticky;
  /* background: white; */
  top: 0px;
  border-bottom: 2px solid cornflowerblue;
  padding-bottom: 5px;
}

.pleaseFillOutForm {
  text-align: center;
}

b {
  color: #2196f3;
}

.GroupPage {
  justify-content: center;
}
